* {
  margin: 0;
  padding: 0;
  font-family: Inika, san-serif;
  text-decoration: none;
}

/* ヘッダー */

.header {
  max-width: 1500px;
  height: 100px;
  border-bottom: 1px solid #e0dfde;
  margin: 0;
}

.header__inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #8B7969;
  font-size: 40px;
  font-weight: lighter;
  text-decoration: none;
}

.header__logo:hover {
  color: #8B7969;
  text-decoration: none;
}

.header__btn {
  margin: 0 40px 0 auto;
}

.header__btn--submit {
  text-decoration: none;
  padding: 5px 30px;
  background: rgba(240, 240, 240, 0.6);
  border: 1px solid #D9C6B5;
  font-size: 20px;
  color: #D9C6B5;
  cursor: pointer;
}

/* メイン */

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.form__heading {
  padding: 30px;
  text-align: center;
}

.form__ttl {
  color: #8B7969;
  font-size: 35px;
  font-weight: lighter;
}

/* 入力フォーム */

input, select {
  color: #82756A;
  border: none;
  background: #f4f4f4;
  margin-right: 30px;
  height: 40px;
}

input::placeholder {
  color: #beb1ab;
}

.search-form__wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.search-form__keyword {
  width: 300px;
  padding: 15px;
}

.search-form__gender {
  padding: 10px 15px;
}

.search-form__category {
  padding: 10px 15px;
}

.search-form__date {
  padding: 10px 15px;
}

/* 検索ボタン */

.search-form__btn--submit {
  color: #fff;
  background: #82756A;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
}

.search-form__btn--reset {
  color: #fff;
  background: #BEB1A6;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-left: 10px;
}

/* エクスポート */

.export__button {
  display: inline;
  font-size: 14px;
  color: #8B7969;
  background: rgba(225, 219, 214, 0.6);
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  text-decoration: none;
}

.export__button:hover {
  color: #b0a8a1;
  text-decoration: none;
}

/* テーブル */

.contacts__table {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #e0dfde;
}

.contacts__table--head {
  background: #8B7969;
  color: #fff;
  height: 50px;
}

.contacts__table--body td {
  height: 50px;
}