input,textarea,select {
  border: none;
  background: #f4f4f4;
  padding: 10px 20px;
}

.contact-form__content {
  max-width: 1512px;
}

.contact-form {
  text-align: center;
}

.contact-form__item {
  margin: 20px 0;
}

.contact-form__label {
  font-size: 20px;
}

.required-mark {
  color: #ff9494;
}

.hyphen {
  display: inline;
  padding: 10px;
}

input::placeholder,
textarea::placeholder,
.contact-form__select-cat {
  color: #beb1ab;
}

.contact-form__btn-submit {
  color: #fff;
  background: #82756A;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
}