input,textarea,select {
  border: none;
  background: #f4f4f4;
  padding: 10px 20px;
}
.contact-form__heading {
  text-align: center;
}

.contact-form__ttl {
  font-size: 35px;
  font-weight: 400;
}

.contact-form__heading {
  text-align: center;
}

.contact-form__ttl {
  font-size: 35px;
  font-weight: 400;
}

.contact-form__content {
  max-width: 1500px;
}

.contact-form {
  width: 60%;
  margin: 0 auto;
}

.contact-form__item {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

.contact-form__label {
  font-size: 20px;
}

.contact-form__input {
  width: 60%;
}

.contact-form__select,
.contact-form__textarea {
  width: 60%;
}

.required-mark {
  color: #ff9494;
  font-size: 14px;
}

.hyphen {
  display: inline;
  padding: 10px;
}

input::placeholder,
textarea::placeholder,
.contact-form__select-cat {
  color: #beb1ab;
}

.contact-form__button {
  text-align: center;
}

.contact-form__btn-submit {
  color: #fff;
  background: #82756A;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
}